fastapi
uvicorn[standard]
python-multipart
PyPDF2
python-docx
python-dotenv
psycopg2-binary
requests
pydantic
email-validator

# Auth & Security
pyjwt
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Google / Gemini
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
