fastapi
uvicorn[standard]
python-multipart
PyPDF2
python-docx
google-generativeai
python-dotenv
psycopg2-binary
bcrypt
pyjwt
python-jose[cryptography]
passlib[bcrypt]
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
pydantic
email-validator